/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.tarifs-wrapper ul li{
		margin-top: 18px;
	}
		.top-bg .logo{
		font-size: 68px;
	}
	.name{
	font-size: 16px;
	margin-left: -26px;
	margin-top: 48px;
}

.top-bg span{
	font-size: 8px;

}
.menu-list{
	margin-left: 28px;
}

.top-bg .menu-list li{
	margin-right: 12px;
}
.menu-list a{
	font-size: 10px;
}

.menu-list i{
	font-size: 12px;
}

.menu{
	margin-top: 40px;
}

.auth span{
	font-size: 10px;
}

.auth{
	margin-top: 40px;
}

.auth span#login{
	margin-left: 0;
	margin-right: 3px;
}
.top-bg{
	height: 90px;
}
.slider{
	margin-top: 117px;
}

.slider h1{
	font-size: 28px;
}

.slider h1 span.bold span.letter{
	font-size: 32px;
}

.slider p{
	font-size: 14px;
}

.slider p.content1{
	margin-bottom: 32px;
}

.slider button{
	margin-top: 36px;
	margin-right: 29px;
}

.slider .pagination{
	margin-top: 56px;
}

.slider .pagination li{
	padding-right: 2px;
}

.slider .pagination a span.norm{
	width: 6px;
	height: 6px;
	border-radius: 3px;
	display: block;
	margin-top: 12px;
}

.slider .pagination a span.active{
	width: 6px;
	height: 6px;
	border-radius: 3px;
	display: block;
	margin-top: 12px;
}

.slider .bx-wrapper .bx-controls-direction a{
	margin-top: 109px;
}

.slider{
	margin-top: 173px;
}

.slider .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
	bottom: 67px;
	left: 109px;
}

.slider .bx-wrapper .bx-prev{
	left: 230px;
}

.slider .pagination span.left{
	width: 34px;
	height: 34px;
	background-color: #c98e11;
	border-radius: 17px;
	display: block;
}
.number{
	font-size: 15px;
}

.slider .pagination span.right{
	width: 34px;
	height: 34px;
	background-color: #c98e11;
	border-radius: 17px;
	display: block;
}

.slider .pagination span.left i{
	color: #fff;
	font-size: 32px;
	margin-left: 10px;
}

.slider .pagination span.right i{
	color: #fff;
	font-size: 32px;
	margin-left: 12px;
}

#section1 .tarifs h2{
	display: inline-block;z
}
.tarifs-wrapper, .contacts-wrapper{
	padding-top: 69px;
}
.item{
	margin: 0 19%;
}
#section2{
	margin-top: 69px;
}
#tarif-menu{
	left: 302px;
}

#tarif-menu a{
	font-size: 10px;
}

#service-menu{
	left: 374px;
}

#service-menu a{
	font-size: 10px;
}

#home-menu{
	left: 442px;
}

#home-menu a{
	font-size: 10px;
}
#contact-menu{
	left: 552px;
}
#contact-menu a{
	font-size: 10px;
}
#logins{
	left: 689px;
}
#regs{
	left: 689px;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.text-width{
	width: 220px;
	height: 46px;
	background-color: #c98e11;
	color: #fff;
	font-weight: 600;
	font-size: 18px;
}

.text-width p{
	padding-top: 14px;
	padding-left: 54px;
	float: left;
	font-size: 14px;
}

.text-width a{
	color: #fff;
	display: inline-block;
	padding-top: 11px;
	padding-left: 8px;
}

.item2 img{
	width: 220px;
	height: 210px;
}
#section2 .item3{
	padding-left: 14px;
}
.all-tarifs-wrapper a.all-tarifss{
	top: 2884px;
	left: 400px;
}

#tarif-menu{
	left: 198px;
}

#service-menu{
	left: 270px;
}

#home-menu{
	left: 338px;
}

#contact-menu{
	left: 448px;
}

#logins{
	left: 579px;
}
#regs{
	left: 579px;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.menu{
		margin-top: 32px;
	}
	.name{
		margin-left: -30px;
		margin-top: 80px;
	}
	.slider{
		margin-top: 60px;
	}
	.slider button{
		width: 128px;
		height: 50px;
	}
	.slider .bx-wrapper .bx-next{
		right: 0;
	}
	.slider .bx-wrapper .bx-controls-direction a{
		margin-top: 142px;
	}
	.slider .bx-wrapper .bx-prev{
		left: 219px;
	}
	.slider .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
		bottom: 69px;
	}
	.bg{
		height: 585px;
	}
	footer .form{
		margin-top: -17px;
	}
	#section2 .item1, #section2 .item2, #section2 .item3{
		padding-left: 69px;
	}
	.phone h4, .adres h4, .social h4, .form h4{
		padding-top: 29px;
	}
	#tarif-menu{
	left: 198px;
}

#service-menu{
	left: 198px;
}

#home-menu{
	left: 198px;
}

#contact-menu{
	left: 198px;
}

#logins{
	left: 98px;
}
#regs{
	left: 198px;
}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.slider .bx-wrapper .bx-next{
		right: 72px;
	}
	.slider .bx-wrapper .bx-prev{
		left: 397px;
	}
	.tarifs-wrapper ul:last-child{
		margin-right: 50px;
	}
}