.wrapper{
	font-family: Open-sans, sans-serif;
	position: relative;
	height: auto;
	margin: 0 auto;

}

.hidden{
	display: none;
}

header{
	min-width: 320px;
	min-height: 240px;
}

.bg{
	min-width: 320px;
	height: 760px;
	background: url(../img/header-bg.png) no-repeat;
	background-size: cover;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.top-bg .logo{
	font-size: 88px;
	color: #c98e11;
	padding-top: 11px;
	cursor: default;
}

.name{
	font-size: 18px;
	font-weight: 800;
	color: #c98e11;
	line-height: 0.7;
	margin-top: 58px;
	margin-left: -36px;
	text-transform: uppercase;
	cursor: default;
}

.top-bg span{
	font-size: 10px;
	font-weight: 200;
	color: #fff;
}

.menu-list{
	margin-left: 38px;
}

.top-bg .menu-list li{
	float: left;
	margin-right: 16px;
}

.top-bg .menu-list li:last-child{
	margin-right: 0;
}

.menu-list a{
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	font-family: Open-sans, sans-serif;
}

.menu-list i{
	font-size: 16px;
	font-weight: normal;
	color: #c98e11;
}

.menu{
	margin-top: 50px;
}

.auth span{
	font-size: 12px;
	color: #c98e11;
}

.auth{
	margin-top: 49px;
}

.auth span#login{
	margin-right: 3px;
}

.slider{
	color: #fff;
	margin-top: 117px;
}

.slider h1{
	font-size: 34px;
}

.slider h1 span.bold{
	font-weight: 600;
}

.slider h1 span.bold span.letter{
	font-size: 38px;
	font-weight: bold;
}

.slider p{
	font-family: Myriad Pro, sans-serif;
	font-size: 20px;
}

.slider p.content1{
	margin-bottom: 38px;
}

.slider .bx-wrapper .bx-controls-direction a{
	margin-top: 169px;
}

.slider button{
	background-color: #c98e11;
	border: none;
	width: 195px;
	height: 74px;
	border-radius: 10px;
	font-size: 26px;
	font-family: Open sans, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 36px;
	float: left;
	margin-right: 189px;
}

.slider .pagination{
	margin-top: 56px;
}

.slider .pagination li{
	float: left;
	padding-right: 4px;
}

.slider .pagination a span.norm{
	width: 10px;
	height: 10px;
	background-color: #c98e11;
	border-radius: 5px;
	display: block;
	margin-top: 12px;
}

.slider .pagination a span.active{
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 5px;
	display: block;
	margin-top: 12px;
}

.slider .pagination span.left{
	width: 34px;
	height: 34px;
	background-color: #c98e11;
	border-radius: 17px;
	display: block;
}

.slider .pagination span.right{
	width: 34px;
	height: 34px;
	background-color: #c98e11;
	border-radius: 17px;
	display: block;
}

.slider .pagination span.left i{
	color: #fff;
	font-size: 32px;
	margin-left: 10px;
}

.slider .pagination span.right i{
	color: #fff;
	font-size: 32px;
	margin-left: 12px;
}

.slider .bx-wrapper .bx-pager.bx-default-pager a{
	background: #c98e11 none repeat scroll 0 0;
}

.slider .bx-wrapper .bx-pager.bx-default-pager a:hover, .slider .bx-wrapper .bx-pager.bx-default-pager a.active{
	background: #fff none repeat scroll 0 0;
}

.tarifs-wrapper, .contacts-wrapper{
	padding-top: 91px;
}

.tarifs-wrapper ul{
	padding-top: 89px;
}

.tarifs-wrapper ul li{
	float: left;
	margin-right: 20px;
}

.tarifs p, .services p, .contacts p, .about p{
	font-size: 30px;
	font-weight: 600;
	text-transform: uppercase;
}

.fline{
	width: 140px;
	height: 1px;
	background-color: #c98e11;
	margin-top: 9px;
}

.sline{
	width: 94px;
	height: 1px;
	background-color: #c98e11;
	margin-top: 9px;
}

.tline{
	width: 58px;
	height: 1px;
	background-color: #c98e11;
	margin-top: 9px;
}

.item .fsect img{
	width: 220px;
	height: auto;
}

.item .ssect{
	width: 220px;
	height: 220px;
	background-color: #c98e11;
}

.item .bottom{
	margin-top: 20px;
}

.item .top{
	margin-top: 20px;
}

.item h3{
	color: #fff;
	font-weight: 600;
	font-size: 22px;
	text-align: center;
	padding-top: 18px;
}

.item p{
	font-weight: 300px;
	font-size: 15px;
	color: #fff;
	padding: 0 25px;
	padding-top: 14px;
}

.item .divider{
	width: 220px;
	height: 1px;
	background-color: #d8ad53;
	margin-top: 12px;
}

.item h4{
	font-size: 15px;
	font-weight: 400;
	color: #fff;
	margin-top: 0;
	padding-left: 25px;
	float: left;
	padding-right: 8px;
}

.item i{
	font-size: 22px;
	color: #fff;
}

.item a{
	margin-top: 6px;
	display: inline-block;
}

.tarifs-wrapper h5.title{
	margin-top: 45px;
	display: inline-block;
	color: #c98e11;
	font-size: 18px;
	font-weight: 400;
	float: left;
}

.tarifs-wrapper a.all-tarifs i{
	color: #c98e11;
	font-size: 22px;
	padding-left: 8px;
	margin-top: 48px;
	display: inline-block;
}

#section2{
	background: url(../img/sect2bg.png) no-repeat;
	background-size: cover;
	margin-top: 88px;
}

#section2 h2{
	padding-top: 24px;
}

#section2 .item1, #section2 .item2, #section2 .item3{
	padding-top: 130px;
}

#section2 .item1 img, #section2 .item2 img, #section2 .item3 img{
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.overlay{
	background-color: rgba(0, 0, 0, 0.67);
	width: 220px;
	height: 210px;
	position: absolute;
	top: 130px;
}

.text{
	width: 220px;
	height: 46px;
	background-color: #c98e11;
	color: #fff;
	font-weight: 600;
	font-size: 18px;
}

.text p{
	padding-top: 0;
	padding-left: 54px;
	padding-right: 8px;
	float: left;
}

.text a{
	color: #fff;
	display: inline-block;
	padding-top: 11px;
	padding-left: 8px;
}

#section2 .item3{
	padding-left: 85px;
}

.text-width{
	width: 300px;
	height: 46px;
	background-color: #c98e11;
	color: #fff;
	font-weight: 600;
	font-size: 18px;
}

.text-width p{
	padding-top: 1px;
	padding-left: 62px;
	padding-right: 8px;
	float: left;
}

.text-width a{
	color: #fff;
	padding-top: 8px;
	padding-left: 8px;
	display: inline-block;
}

.text-width a i{
	font-size: 28px;
}

.text a i{
	font-size: 20px;
}

.overlay-width{
	background-color: rgba(0, 0, 0, 0.67);
	width: 300px;
	height: 262px;
	position: absolute;
	top: 130px;
}

.all-services{
	margin-top: 50px;
	clear: both;
}

.all-services button{
	margin-top: 44px;
	border: 1px solid #c98e11;
	width: 126px;
	height: 47px;
	background-color: transparent;
	border-radius: 10px;
	font-weight: 700px;
	font-size: 12px;
	color: #c98e11;
	position: relative;
}

.all-services a{
	display: inline-block;
	padding-top: 3px;
}

.all-services button a{
	font-size: 26px;
	color: #c98e11;
	position: absolute;
	left: 101px;
	top: 0;
}

.all-services{
	padding-bottom: 23px;
}

.phone h4, .adres h4, .social h4, .form h4{
	color: #858585;
	font-weight: 300;
	font-size: 14px;
	padding-top: 64px;
	padding-bottom: 26px;
}

.number i, .adr i{
	color: #c98e11;
	font-size: 18px;
	padding-right: 12px;
}

.number{
	color: #000;
	font-size: 18px;
	font-weight: 600;
	padding-bottom: 7px;
}

.adr{
	font-size: 15px;
}

.adr span{
	margin-left: 22px;
}

.social ul li{
	float: left;
	padding-right: 16px;
}

.social ul li i{
	color: #c98e11;
	font-size: 20px;
}

.form input[type="text"].textfield, .form input[type="tel"].textfield{
	border: none;
	border-bottom: 1px solid #c98e11;
}

.form input[placeholder], footer .form input[placeholder]{
	font-size: 12px;
	color: #858585;
	font-weight: 300;
}

.form button{
	background-color: #c98e11;
	width: 104px;
	height: 39px;
	border-radius: 10px;
	border: none;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 28px;
}

.form{
	position: relative;
}

#section4{
	margin-top: 91px;
}

.title-about{
	font-size: 17px;
	color: #858585;
	padding-top: 43px;
}

.content span.bold{
	font-weight: 600;
	font-size: 16px;
	color: #000;
}

.content{
	font-weight: 300px;
	color: #858585;
	padding-top: 25px;
}

footer{
	background-color: #090d3e;
	padding: 14px 0 30px 0;
	margin-top: 64px;
}

footer .container{

}

footer .logo-container{
	font-size: 60px;
	color: #c98e11;
}

.logo-name{
	font-weight: 800;
	font-size: 18px;
	line-height: 0.7;
}

.logo-name span.site{
	font-size: 10px;
	font-weight: 300;
	color: #fff;
}

.nav li a{
	font-size: 12px;
	color: #b9b9c1;
	text-transform: uppercase;
}

.nav ul{
	padding-top: 16px;
}

.nav{
	padding-left: 45px;
}

.location{
	padding-top: 16px;
}

.location .number, .location .adr{
	color: #fff;
}

.location .number{
	font-size: 15px;
}

.location .adr{
	font-size: 14px;
}

footer .form{
	margin-top: -49px;
}

footer .form input[type="text"], footer .form input[type="tel"]{
	background-color: transparent;
}

#tarif-menu, #service-menu, #home-menu, #contact-menu{
	display: none;
	position: absolute;
	background-color: transparent;
	
}

#tarif-menu{
	left: 497px;
	top: 70px;
	width: 73px;
}

#service-menu{
	left: 582px;
	top: 70px;
	width: 73px;
}

#home-menu{
	left: 665px;
	top: 70px;
	width: 114px;
}

#contact-menu{
	left: 809px;
	top: 70px;
	width: 95px;
}

#tarif-menu a, #service-menu a, #home-menu a, #contact-menu a{
	font-size: 12px;
	color: #c98e11;
	font-weight: 300;
}
	

#tarif-id, #service-id, #home-id, #contact-id{
	margin-left: 4px;
	margin-right: -4px;
	cursor: pointer;
}

.all-tarifs-wrapper{
	padding-top: 91px;
}

.all-tarifs-wrapper ul{
	padding-top: 89px;
}

.all-tarifs-wrapper ul li{
	float: left;
	margin-right: 20px;
}

.all-tarifs p{
	font-size: 30px;
	font-weight: 600;
	text-transform: uppercase;
}

.all-tarifs .fline{
	width: 140px;
	height: 1px;
	background-color: #c98e11;
	margin-top: 9px;
}

.all-tarifs .sline{
	width: 94px;
	height: 1px;
	background-color: #c98e11;
	margin-top: 9px;
}

.all-tarifs .tline{
	width: 58px;
	height: 1px;
	background-color: #c98e11;
	margin-top: 9px;
}

.all-tarifs .item .fsect img{
	width: 220px;
	height: auto;
}

.all-tarifs .item .ssect{
	width: 220px;
	height: 220px;
	background-color: #c98e11;
}

.all-tarifs .item .bottom{
	margin-top: 20px;
}

.all-tarifs .item .top{
	margin-top: 20px;
}

.all-tarifs .item h3{
	color: #fff;
	font-weight: 600;
	font-size: 22px;
	text-align: center;
	padding-top: 18px;
}

.all-tarifs .item p{
	font-weight: 300px;
	font-size: 15px;
	color: #fff;
	padding: 0 25px;
	padding-top: 14px;
}

.all-tarifs .item .divider{
	width: 220px;
	height: 1px;
	background-color: #d8ad53;
	margin-top: 12px;
}

.all-tarifs .item h4{
	font-size: 15px;
	font-weight: 400;
	color: #fff;
	margin-top: 0;
	padding-left: 25px;
	float: left;
	padding-right: 8px;
}

.all-tarifs .item i{
	font-size: 22px;
	color: #fff;
}

.all-tarifs .item a{
	margin-top: 6px;
	display: inline-block;
}

.all-tarifs-wrapper h5.title{
	margin-top: 45px;
	display: inline-block;
	color: #c98e11;
	font-size: 18px;
	font-weight: 400;
	float: left;
}

.all-tarifs-wrapper a.all-tarifss i{
	color: #c98e11;
	font-size: 22px;
	padding-left: 8px;
	margin-top: 48px;
	display: inline-block;
}

.all-tarifs-wrapper a.all-tarifss{
	position: absolute;
	top: 1020px;
	left: 204;
}

.all-tarifs-wrapper .item{
	margin-top: 15px;
}

#section5, #section6{
	display: none;
}

* a{
	cursor: pointer;
}

#search input[type="text"].textfield{
	border: none;
	border-bottom: 1px solid #c98e11;
	background-color: transparent;
}

#search input[placeholder]{
	font-size: 12px;
	color: #858585;
	font-weight: 300;
}

#search button{
	background-color: #c98e11;
	width: 104px;
	height: 39px;
	border-radius: 10px;
	border: none;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 28px;
}

#search{
	position: absolute;
	top: 102px;
	left: 482px;
	display: none;
}

.all-services p{
	font-size: 34px;
	text-transform: uppercase;
}

#section7, #section8{
	display: none;
}

#searchs input[type="text"].textfield{
	border: none;
	border-bottom: 1px solid #c98e11;
	background-color: transparent;
}

#searchs input[placeholder]{
	font-size: 12px;
	color: #858585;
	font-weight: 300;
}

#searchs button{
	background-color: #c98e11;
	width: 104px;
	height: 39px;
	border-radius: 10px;
	border: none;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 28px;
}

#searchs{
	position: absolute;
	top: 102px;
	left: 682px;
	display: none;
}

#logins input[type="text"].textfield, #logins input[type="password"].textfield{
	border: none;
	border-bottom: 1px solid #c98e11;
	background-color: transparent;
}

#logins input[placeholder]{
	font-size: 12px;
	color: #858585;
	font-weight: 300;
}

#logins button{
	background-color: #c98e11;
	width: 104px;
	height: 39px;
	border-radius: 10px;
	border: none;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 28px;
}

#logins{
	position: absolute;
	top: 102px;
	left: 982px;
	display: none;
}

#regs input[type="text"].textfield, #regs input[type="email"].textfield, #regs input[type="tel"].textfield, #regs input[type="password"].textfield{
	border: none;
	border-bottom: 1px solid #c98e11;
	background-color: transparent;
}

#regs input[placeholder]{
	font-size: 12px;
	color: #858585;
	font-weight: 300;
}

#regs button{
	background-color: #c98e11;
	width: 104px;
	height: 39px;
	border-radius: 10px;
	border: none;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 28px;
}

#regs{
	position: absolute;
	top: 102px;
	left: 982px;
	display: none;
}

#exc h1{
	font-size: 20px;
	color: #c98e11;
}

#exc{
	display: none;
	position: absolute;
	top: 0;
	left: 650px;
}